<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="meal-details">
        <!-- <form action="/meals/<%= meal.id %>?_method=PUT"" method="post"> -->
            <input type="text" name="name" id="name" value="<%= meal.name %>">
            <input type="text" name="price" id="price" value="<%= meal.price %>">
            <input type="button" value="update" onclick="update('<%= meal.id %>')">
            <!-- <input type="hidden" name="_method" value="PUT"> -->

        <!-- </form> -->
    </div>
    <script src="/js/meal-details.js"></script>
</body>
</html>