<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="meals-list">
        <% meals.forEach(meal => { %>
            <a href="/meals/<%= meal.id %>">
            <div class="meal-card">
                <h2><%= meal.name %></h2>
                <h3><%= meal.price %><%= dollarSign %></h3>
            </div>
            </a> 
        <% }); %>
        
    </div>

</body>
</html>